$bodycolor: 		#fafafa;
$neutralcolor: 		#f4f3ef;
$neutralcolor1:		#ffffff;
$mediumcolor:		#9c9c9e;
$colorselect: 		#fff68c;
$colorattention: 	#ee4938;
$textcolor:			#3a3a3c;

$basefont: 			'Lato', sans-serif;
$basefontsize: 		15px;
$baselineheight:	24px;

$altfont: 			'London', serif;
$altfontsize: 		22px;
$altlineheight:		32px;

$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;